<html>
  <body>
    <b>Welcome to MR Hinkle's incredibly Low Tech Web Study App</b>

  <h3>Sequences (Courses of studied by Teacher Man, for your studying ease)</h33>
  <ul>
    {% for s0 in sequences.branches %}
    <li><a href="/seq/{{s0.object.id}}">{{s0.object.name}}</a>
      <ul>
	{% for s1 in s0.branches %}
	<li><a href="/seq/{{s1.object.id}}">{{s1.object.name}}</a>
	  <ul>
	    {% for s2 in s1.branches %}
	    <li><a href="/seq/{{s2.object.id}}">{{s2.object.name}}</a>
	      <ul>
		{% for s3 in s2.branches %}
		<li><a href="/seq/{{s3.object.id}}">{{s3.object.name}}</a></li>
		{% endfor %}
	      </ul>
	    </li>
	    {% endfor %}
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>

    
    <h3><b>Quizzes</b></h3>
    <ul>
      {% for quiz in quizzes %}
      <li><b>{{quiz.object.name}}</b>
      <ul>
	{% for category in quiz.branches %}
	<li>{{category.name}} <a href="/mc/{{category.id}}/">Multiple Choice</a> <a href="/or/{{category.id}}/">Open Response</a></li>
	{% endfor %}

      </ul>
      </li>
      {% endfor %}
    </ul>
    
    <h3><b>All Categories</b></h3>
    <ul>
      {% for catfam in cat_tree.branches %}
      <li>{{catfam.object.name}} <a href="/mc/{{catfam.object.id}}/">Multiple Choice</a> <a href="/or/{{catfam.object.id}}/">Open Response</a>
	<ul>
	  {% for catfam2 in catfam.branches %}
          <li>{{catfam2.object.name}} <a href="/mc/{{catfam2.object.id}}/">Multiple Choice</a> <a href="/or/{{catfam2.object.id}}/">Open Response</a>
	    <ul>
	      {% for catfam3 in catfam2.branches %}
              <li>{{catfam3.object.name}} <a href="/mc/{{catfam3.object.id}}/">Multiple Choice</a> <a href="/or/{{catfam3.object.id}}/">Open Response</a>

		<ul>
		  {% for catfam4 in catfam3.branches %}
		  <li>{{catfam4.object.name}} <a href="/mc/{{catfam4.object.id}}/">Multiple Choice</a> <a href="/or/{{catfam4.object.id}}/">Open Response</a>
		  </li>
		  {% endfor %}
		  
		</ul>
		
	      </li>

		{% endfor %}
	    </ul>
	  </li>
	  {% endfor %}
	</ul>
	{% endfor %}
      </li>
    </ul>
  </body>
</html>
