{% include "quiz_header.html" %}
	  <b>Category: {{category.name}}</b>
	      {% if reverse %}
	      <a href="/or/{{category.id}}/">(reverse)</a>
	      <a href="/mc/{{category.id}}/r">(multiple choice)</a>
	      {% else %}
	      <a href="/or/{{category.id}}/r">(reverse)</a>
	      <a href="/mc/{{category.id}}/r">(multiple choice)</a>
	      {% endif %}

	  <form name="quiz" id="quiz" action="/or/answer/" method="post">
	    <input type="hidden" name="category" value="{{category.id}}">
	    <input type="hidden" name="target" value="{{target.id}}">
	    <input type="hidden" name="reverse" value="{{reverse}}">
	    <input type="hidden" name="time" value="{{time}}">	    	    
	    <p><span style="font-size:3 em"><b>
		  {% if reverse %}
		  {{target.l2}}
		  {% else %}
		  {{target.l1}}
		  {% endif %}
	      </b></span> <input type="hidden" name="correct_answer"
				 {% if reverse %}
				 value="{{target.l1}}"
				 {% else %}
				 value="{{target.l2}}"
				 {% endif %}
				 >
	      <table>
		<tr>
		  <td><input id="answer" type="entry" name="answer">
		    <br><span style="font-size:smaller"><i>You can enter accents by using apostrophes before the accented vowel (e.g. 'e for é) or a tilde (~) before an n for an ñ.
		    </i></span>
		  </td>
		  <td><input type="submit" value="submit"></td>
		</tr>
	      </table>
	  </form>
	  <script type="text/javascript">
	    window.onload = function(){
	    document.forms['quiz'].elements['answer'].focus();
	    }
	  </script>
{% include "quiz_footer.html" %}
