
	</td>
	<td>
	    <p>You are logged in as {{user.first_name}} {{user.last_name}}
	    {% if not user.first_name %}
	    <a href="/profile/">Tell me your name so I can remember you</a>
	    {% endif %}
	    (<a href="/logout/">Logout</a>)
	    </p>
	    <p style="font-size:smaller">You are logged in as IACS ID {{uoid}}
	       </p>
	  <a href="/quiz/">Choose another quiz</a>
	  {% if lastanswer %}
	  {% if lastanswer.correct %}
	  <b><p>Correct!</p></b>
	  <!-- <img src="http://rlv.zcache.com/dancing_penguins_card-p137325738401648753q0yk_400.jpg"> -->
	  <b><span style="font-size:3em;color:yellow;background:black">:-)</span></b>
	  {% else %}
	  <p>Sorry, you were wrong.</p>
	  <p><i><b>{{rightanswer.l1}}={{rightanswer.l2}}</b></i></p>
	  <!--<img src="http://2.bp.blogspot.com/_91x7iXoXy_U/S9MmdgvyGSI/AAAAAAAAAkA/SH8EHgP9tWs/s1600/frown-front.jpg">-->
	  <b><span style="font-size:3em;color:red;background:black">:-(</span></b>	  
	  {% endif %}
	  <p>You answered in {{lastanswer.speed|floatformat:1}} seconds</p>
	  {% endif %}
	</td>
      </tr>
      <tr>
	<td>
	  <div class="stats" style="border:1px solid black">
	    
	  {% if seq_history %} <!-- Use sequence information if we're in a sequence -->
	    <table>
	      <tr><th>Category</th><th>Completed</th><th>Comment</th></tr>
	      {% for sei in seq_history %}
	      <tr>
		<td>>{{sei.seqitem.category.name}}
		  {% if sei.seqitem.reverse %} (español a inglés)
		  {% else %} (inglés a español)
		  {% endif %}
		  {% if sei.seqitem.question_type %} (abierto) {% endif %}
		</td>
		<td>
		  {% if sei.completed %}
		  Done!
		  {% else %}
		  Still working...
		  {% endif %}
		  </td>
		<td>{{sei.comment}}</td>
	      </tr>
	      {% endfor %}
	    </table>	      

	    {% else %} <!-- Otherwise use generic statistics! -->
	    
	      <p>Record for {{stats.cat.name}}: {{stats.category.overall.ratio}} ({{stats.category.overall.perc}})</p>
	      <ul>
		<li><i>multiple choice: {{stats.category.mc.ratio}} {{stats.category.mc.perc}}</i></li>
		<li><i>open response: {{stats.category.open.ratio}} {{stats.category.open.perc}}</i></li>
	      </ul>
	    
	    {% if stats.last_hour.overall.ratio != stats.overall.overall.ratio %}
	    <p>Record in last hour is: {{stats.last_hour.overall.ratio}} ({{stats.last_hour.overall.perc}}) {% if stats.last_hour.open.perc %} (open: {{stats.last_hour.open.perc}}) {% endif %}</p>
	    {% endif %}
	    {% if stats.last_day.overall.ratio != stats.overall.overall.ratio and stats.last_day.overall.ratio != stats.last_hour.overall.ratio %}
	    <p>Record in last day is: {{stats.last_day.overall.ratio}} ({{stats.last_day.overall.perc}})

	      {% if stats.last_day.open.perc %} (open: {{stats.last_day.open.perc}}) {% endif %}
	    </p>
	    {% endif %}
	    {% if stats.last_week.overall.ratio != stats.overall.overall.ratio and stats.last_week.overall.ratio != stats.last_day.overall.ratio %}	    
	    <p>Record in last week is: {{stats.last_week.overall.ratio}} ({{stats.last_week.overall.perc}})</p>
	    {% endif %}
	    <p>All time record: {{stats.overall.overall.ratio}} ({{stats.overall.overall.perc}})

	      {% if stats.overall.open.perc %} (open: {{stats.overall.open.perc}}) {% endif %}

	    </p>
	    {% if stats.previous_attempts %}
	    <p>Your trackrecord on this question is: <span style="fontsize:smaller">
		{{stats.previous_attempt_history }}
	    </span></p>
	    {% endif %}
	    
	    {% endif %}
	  </div>
	</td>
      </tr>
    </table>
  </body>
</html>
