{% include "quiz_header.html" %}
	  <b>Category: {{category.name}}</b>

	  {% if seq_history %}
	  
	  {% else %}
	      {% if reverse %}
	      <a href="/mc/{{category.id}}/">(reverse)</a>
	      <a href="/or/{{category.id}}/r">(open)</a>
	      {% else %}
	      <a href="/mc/{{category.id}}/r">(reverse)</a>
	      <a href="/or/{{category.id}}/r">(open)</a>
	      {% endif %}
	  {% endif %}


	  <form action="{{action}}" method="post">
	    <input type="hidden" name="category" value="{{category.id}}">
	    <input type="hidden" name="target" value="{{target.id}}">
	    <input type="hidden" name="reverse" value="{{reverse}}">
	    <input type="hidden" name="time" value="{{time}}">	    	    
	    <p><span style="font-size:3 em"><b>
		  {% if reverse %}
		  {{target.l2}}
		  {% else %}
		  {{target.l1}}
		  {% endif %}
	      </b></span>
	      
	      <input type="hidden" name="correct_answer"
				 {% if reverse %}
				 value="{{target.l1}}"
				 {% else %}
				 value="{{target.l2}}"
				 {% endif %}
				 >
	      <table>
		{% for arow in answer_rows %}
		<tr>
		  {% for a in arow%}
		  <td><input type="submit" name="answer"
			     {% if reverse %}
			     value="{{a.l1}}"
			     {% else %}
			     value="{{a.l2}}"
			     {% endif %}
			     style="font-size: 2em"
			     >
		    {% endfor %}
		</tr>
		{% endfor %}
	      </table>
	  </form>
{% include "quiz_footer.html" %}
